<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Seja bem vindo</h1>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <p class="text-center ml-2 mr-2"> Evidentemente, o aumento do diálogo entre os diferentes setores produtivos
                assume importantes posições no estabelecimento de alternativas às soluções ortodoxas. Nunca é demais lembrar
                o peso e o significado destes problemas, uma vez que o julgamento imparcial das eventualidades cumpre um
                papel essencial na formulação das posturas dos órgãos dirigentes com relação às suas atribuições. Assim
                mesmo, o início da atividade geral de formação de atitudes nos obriga à análise das novas proposições.</p>
            </div>
        </div>
</div>
<div class="parallax"></div>
<div class="row mt-5 mb-5">
    <div class="col-md-12 d-flex justify-content-center">
        <button  class="btn btn-outline-dark" routerLink = '/feed'>Ver o feed</button>
    </div>
</div>